<!DOCTYPE html>
html(lang="en")
  head
    meta(name="keywords"    content="")
    meta(name="description" content="")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(charset="UTF-8")
  
    link(rel="stylesheet", href="css/libs.css")
    link(rel="stylesheet", href="css/styles.css")
    
    //- Заголовок страницы
    block title
      title Page Title
    
  body

    //- Содержимое страницы
    block content
    
    script(src="js/libs.js")
    script(src="js/application.js")
    script(src="js/scripts.js")
