*
  position relative
  box-sizing border-box

body
html
  padding 0
  margin 0
  width 100%
  width 100vw

body
  font mainFont 16px
  color #222

a
a:link
a:visited
a:active
a:hover
    text-decoration none

ul
ol
  list-style-position inside

nav ul
  list-style none
  margin 0
  padding 0

p
  font mainFontFamily mainFontSize
  line-height mainLineHeight
  margin mainLineHeight 0
