// Адаптивность по размерам сетки Twitter bootstrap
xs()
	@media (max-width: 767px)
		{block}

sm()
	@media (min-width: 768px)
		{block}

md()
	@media (max-width: 992px)
		{block}

lg()
	@media (max-width: 1200px)
		{block}



// Адаптивность на произвольных размерах
// По ширине
width-below(value)
	@media (max-width: value)
		{block}

width-above(value)
	@media (min-width: value)
		{block}

width-between(min=0px, max=2560px)
	@media (min-width: min) and (max-width: max)
		{block}

// По высоте
height-below(value)
	@media (max-height: value)
		{block}

height-above(value)
	@media (min-height: value)
		{block}

height-between(min=0px, max=2560px)
	@media (min-height: min) and (max-height: max)
		{block}



// Квадрат
square(size = 16px)
	width  size
	height size

// Круг
circle(size = 16px)
	square(size)
	border-radius (size / 2)

// Хак прозрачности для ie8
opacity(n)
  opacity n
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + (n * 100) + ")"




// Flex
flex-center =
	display flex
	align-items center
	justify-content center
	flex-direction row

flex-center-col =
	display flex
	align-items center
	justify-content center
	flex-direction column

flex-just =
	display flex
	align-items flex-start
	justify-content space-between
	flex-direction row

flex-just-center =
	display flex
	align-items center
	justify-content space-between
	flex-direction row



// Фикс для inline-block
reset-inline =
	font-size 0
	line-height 0
	letter-spacing -1px

restore-inline =
	font-size 1rem
	line-height initial
	letter-spacing normal



// Псевдо-элементы
pseudo =
	content ''
	display inline-block
	position relative

pseudo-cover =
	{pseudo}
	position absolute
	width 100%
	height 100%
	top 0
	left 0
